/* DUMMY UI CSS */

/* Main Styles*/
#top-wrap {
	margin-bottom: -10px;
}
.ui-wrap {
	width:100%; 
	padding:0;
	height:auto;
	overflow: hidden;
}

.sub-wrap {
	width:100%;
	padding: 0 20px;
}

@media (max-width: 780px) {
	.ui-wrap{
		position: absolute;
		visibility: hidden;
	}
	.ui-wrap:before {
		content: "No Mobile Ui (Yet!)";
		visibility: visible;
		padding:0 40% 30%;
	}
}

.appview {
	display: inline-block;
	position: relative;
	height: 100%;
	width:32%;
	overflow: auto;
}

#resizer {
	position: relative;
	margin:0 -6px;
	display: inline-block;
	background: #efefef;
}

#resizer[resizer-bar="vertical"] {
	height:100%;
	width:4px;
}

#resizer[resizer-bar="horizontal"] {
	width:100%;
	height:4px;
}

#resizer:hover {cursor: col-resize;}

/* App View Customization */

#main {
	width:50%;
}
#option {
	width:24%;
}
#sidenav {
	width:25%;
}