/* Open Bazaar Custom Styles */

header {
	height: auto;
	background-color: #999;
}

body { 
}

/* NavBar Customization*/

nav.navbar.navbar-default {
	background: none;
	box-shadow: none;
	padding: 60px 0px 80px;
	border-bottom: none;
	-webkit-transition: ease-out 0.4s;
	-moz-transition: ease-out 0.4s;
	-ms-transition: ease-out 0.4s;
	-o-transition: ease-out 0.4s;
	transition: ease-out 0.4s;
}

nav a.main-logo {
	font-size: 2em;
	margin-top: -40px;
}

nav #main-logo {
	width:300px;
	-webkit-transition: ease-in 0.4s;
	-moz-transition: ease-in 0.4s;
	-ms-transition: ease-in 0.4s;
	-o-transition: ease-in 0.4s;
	transition: ease-in 0.4s;
}

nav a.side-link {
	font-size: 1.2em;
	position: relative;
}

/* Navbar Animation */
nav.navbar.navbar-default.navbar-collapse {
	background-color: white;
	padding: 20px 0 20px;
}

nav.navbar-collapse #main-logo {
	margin-top: -45px;
}


/* Jumbotron Customization */

.jumbotron {
	padding-bottom: 100px;
	padding-top: 100px;
	margin-bottom: 0;
}

.jumbotron.front-page {
	padding-top: 200px;
}

/* QA Jumbotrons */

section.question-why {
	background-color: #ccc;
}

/* Property Listing */
section.property-list {
	padding: 50px 0 30px;
}

section.property-list .row {
	margin-bottom: 20px;
}

section.property-list .thumbnail {
	border:none;
	box-shadow: none;
	text-align: center;
}

/* Customer and Merchant Features */

section.cust-and-merchant ul {
	list-style-type: none;
	padding-left: 0;
	padding-top: 20px;
}

/* Screenshots */

section.screenshots {
	background-color: #fff;
}

section.screenshots #screenshot {
	width:auto;
	max-width: 100%;
	height:auto;
}

/* Downloads */

section.downloads .thumbnail {
	background-color: transparent;
	border:none;
	box-shadow: none;
}

section.downloads .caption button{
	padding:10px 20px 0px;
	opacity:0.4;
}

section.downloads button p,
section.downloads button i {
	display: inline-block;
}

section.downloads button p {
	font-size: 1.2em;
	margin-left: 0.2em;
	position: relative;
	bottom: 2px;
}

section.downloads button.highlight {
	opacity:1;
	background-image: none;
}

/*Footer*/

footer {
	padding: 50px 0 60px;
}

footer ul.link-list {
	list-style: none;
	font-size: 1em;
}

footer ul.link-list li.heading {
	font-size: 1.5em;
	margin-bottom: 1ex;
}



