<div class="list-group">
  <a href="#" class="list-group-item catalog-item">
    <h4 class="list-group-item-heading">Store category</h4>
    <p class="list-group-item-text">...</p>
  </a>
  <a href="#" class="list-group-item catalog-item">
    <h4 class="list-group-item-heading">Store category</h4>
    <p class="list-group-item-text">...</p>
  </a>
  <a href="#" class="list-group-item catalog-item">
    <h4 class="list-group-item-heading">Store category</h4>
    <p class="list-group-item-text">...</p>
  </a>
  <a href="#" class="list-group-item catalog-item">
    <h4 class="list-group-item-heading">Store category</h4>
    <p class="list-group-item-text">...</p>
  </a>
</div>