<!-- Nav Menu -->

<ul class="nav nav-stacked">
	<li class="label">Stores</li>
	<li>
		<a href="#">
			Catalog
		</a>
	</li>
	<li>
		<a href="#">
			<span class="badge pull-right">12</span>
			Favorites
		</a>
	</li>
	<li>
		<a href="#">
			<span class="badge pull-right">4</span>
			History
		</a>
	</li>
	<li class="label">User</li>
  <li>
	<a href="#">
		<span class="badge pull-right">2</span>
		My Cart
	</a>
  </li>
  <li>
	<a href="#">
		My Account
	</a>
  </li>
</ul>

<!-- info Panel -->

<div class="panel infopanel wallet" id="infopanel">
	<div class="panel-body">
		<em class="label">My Wallet</em>
		<h3>1.40 btc</h3>
	</div>
</div>
<div class="panel infopanel rep" id="infopanel">
	<div class="panel-body">
		<em class="label">My Reputation</em>
		<h3>97%</h3>
	</div>
</div>
