<!-- Nav Menu -->
<div id="sidenav" class="appview sidenav">
	<ul class="nav nav-stacked">
		<li class="label">Stores</li>
		<li>
			<a href="#/catalog">
				Catalog
			</a>
		</li>
		<li>
			<a href="#favorites">
				<span class="badge pull-right">12</span>
				Favorites
			</a>
		</li>
		<li>
			<a href="#/history">
				<span class="badge pull-right">4</span>
				History
			</a>
		</li>
		<li class="label">User</li>
	  <li>
		<a href="#/cart">
			<span class="badge pull-right">2</span>
			My Cart
		</a>
	  </li>
	  <li>
		<a href="#/account">
			My Account
		</a>
	  </li>
	</ul>

	<!-- info Panel -->

	<div class="panel infopanel wallet" id="infopanel">
		<div class="panel-body">
			<em class="label">My Wallet</em>
			<h3>1.40 btc</h3>
		</div>
	</div>
	<div class="panel infopanel rep" id="infopanel">
		<div class="panel-body">
			<em class="label">My Reputation</em>
			<h3>97%</h3>
		</div>
	</div>
</div>

<div id="resizer" resizer-bar="vertical" resizer-left="#sidenav" resizer-right="#list" resizer-max="50"></div>
<div ui-view="list" id="list" class="appview list"></div>

<div id="resizer" resizer-bar="vertical" resizer-left="#list" resizer-right="#view" resizer-max="200"></div>
<div ui-view="view" id="view" class="appview view"></div>